.my-image {
    width: 85px;
    height: 80px;
    border-radius: 30px;
}

.top-self-info {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 5px;
}

.top-info-text {
    line-height: 5px;
    padding-left: 4px;
}

.loacatin-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.location {
    width: 20px;
    height: 20px;
}

.info-container {
    margin: 30px;
}

.age-height-weight {
    background-color: #f4d2aa;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    line-height: 4px;
    padding: 3px;
}

.age-height-weight h4 {
    font-size: 20px;
    font-weight: 600;
}

.age-height-weight p {
    font-size: large;
    font-weight: bold;
}

.break-duration {
    display: flex;
    column-gap: 25px;
    background-color: #f4d2aa;
    border-radius: 20px;
}

.break-duration h4 {
    padding: 3px;
    background-color: rgb(208, 229, 232);
    border-radius: 50px;
}

.break-duration h4:hover {
    background-color: goldenrod;
}

.total-time-count {
    background-color: #f4d2aa;
    padding: 5px;
    margin: 5px 0 25px 0;
    border-radius: 25px;
}

.break-time {
    background-color: #f4d2aa;
    padding: 5px;
    margin: 5px 0 25px 0;
    border-radius: 25px;
}

.complete-activity {
    text-align: center;
    padding: 1px 2.5px 1px 2.5px;
    background-color: cyan;
    border-radius: 30px;
}

.complete-activity:hover {
    background-color: lawngreen;
}

@media (max-width:992px) {


    .break-duration h4 {
        padding: 3px;
        margin-left: 20px;
        background-color: rgb(208, 229, 232);
        border-radius: 50px;
    }
}

@media (max-width:576px) {
    .my-image {
        width: 69px;
        height: 72px;
        border-radius: 11px;
    }

    .break-duration h4 {
        margin-left: 0 2px 0 2px;
    }

    .break-duration {
        display: flex;
        column-gap: 0px;
        background-color: #f4d2aa;
        padding-right: 33px;
        border-radius: 20px;
    }

    .age-height-weight {
        background-color: #f4d2aa;
        border-radius: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 11px;
        line-height: 3px;
        padding: 0 12px 0 12px;
    }



}